body {
    background-color: rgb(243, 244, 246);
}

.container {
    padding: 20px;
    text-align:center;  
}

#user-table {
    width: 900px;
    table-layout: fixed;
    border-collapse: collapse;
}

#user-table th,
#user-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#user-table th,
#user-table td {
    border: 1px solid black;
    padding: 8px;
}

#upload-form {
    max-width: 400px;
    padding: 15px 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(255 255 255);
    margin: 0 auto;
    margin-bottom: 40px;
}

#upload-form input[type="file"],
#upload-form input[type="text"],
#upload-form textarea {
    width: 96%;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#upload-form textarea {
    height: 100px;
}

#upload-form button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#upload-form button:hover {
    background-color: #45a049;
}

button  {
    width: 200px; /* Установите нужную ширину кнопок здесь */
    padding: 10px;
    margin: 5px;
    background-color:rgb(31 41 55);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
button:active,
button:focus {
    background-color: rgb(17 24 39);
}

#user-table {
    margin: 0 auto;
}

.buttons {
    margin-bottom: 18px;
}

.h3-all {
    margin-bottom: 11px;
}

#all-templates {
    margin-bottom: 20px;
}

.td-green {
    color: green;
}

.td-red {
    color: red;
}

