body {
    background-color: rgb(243, 244, 246);
}

.container {
    padding: 20px;
    text-align:center;  
}

#userTable {
    width: 900px;
    table-layout: fixed;
    border-collapse: collapse;
}

#userTable th,
#userTable td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#userTable th,
#userTable td {
    border: 1px solid black;
    padding: 8px;
}

#uploadForm {
    max-width: 400px;
    padding: 15px 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(255 255 255);
    margin: 0 auto;
}

#uploadForm input[type="file"],
#uploadForm input[type="text"],
#uploadForm textarea {
    width: 96%;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#uploadForm textarea {
    height: 100px;
}

#uploadForm button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#uploadForm button:hover {
    background-color: #45a049;
}

button  {
    width: 200px; /* Установите нужную ширину кнопок здесь */
    padding: 10px;
    margin: 5px;
    background-color:rgb(31 41 55);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:#5257bd;
}

#userTable {
    margin: 0 auto;
}

.buttons {
    margin-bottom: 18px;
}

.h3_all {
    margin-bottom: 11px;
}

#allTemplates {
    margin-bottom: 20px;
}
